{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
   <div class="container">
       <div class="login_form">
           <h1>Login Form</h1>
           <form method="post" action="">
               {% csrf_token %}
                <label for="username">Username</label>
                <input class="form-control" type="text"  name="username" id="username"><br>
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password"><br>
                <div class="text-center"><input type="submit" class="primary"></div><br>
                <a href="/register">Register Link</a>
           </form>
           {% for msg in messages %}
           {{msg}}
           {% endfor %}
       </div>
   </div>
{% endblock %}
